body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}

#question-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
}

#timer-container {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score-count {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#high-scores {
    padding-top: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#main-info {
    text-align: center;
    margin-top: 60px;

}

#quiz {
    text-align: center;
    margin-top: 60px;
    display: none;

}

#question {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
}

#message {
    visibility: hidden;
}

#message.correct {
    color: rgb(33, 141, 33);
}

#message.wrong {
    color: rgb(196, 5, 5);
}

#message.correct,
#message.wrong {
    visibility: visible;
}

/* Quiz buttons */
.quiz-button {
    text-align: left;
}
