body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
  

}

#timer-container {
    float: right;
}

#score-count {
    float: right;
}

#high-scores {
    padding-top: 30px;
}

#main-info {
    text-align: center;
    margin-top: 60px;
}

#quiz {
    text-align: center;
    margin-top: 60px;
    display: none;

}

/* Quiz buttons */
.quiz-button {
    text-align: left;
}


